<div id='cssmenu' style="margin-bottom: 69px">
    <ul>
        <li ng-repeat="programmingLanguage in programmingLanguages">
            <a><span>{{ programmingLanguage.lname}}</span></a>
        </li>
    </ul>

    <!-- <ul>

        <li class='active'><a><span>Programming and Scripting Language</span></a></li>
        <li><a href='#'><span>C</span></a></li>
        <li><a href='#'><span>C++</span></a></li>
        <li><a href='#'><span>Java</span></a></li>
        <li><a href='#'><span>C#</span></a></li>
        <li><a href='#'><span>Java Script</span></a></li>
        <li><a href='#'><span>PHP</span></a></li>
        <li><a href='#'><span>Mongo DB</span></a></li>
        <li><a href='#'><span>Node JS</span></a></li>
        <li><a href='#'><span>Angular JS</span></a></li>
        <li><a href='#'><span>Ember</span></a></li>

    </ul>-->
</div>
<div id="main">

</div>